# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Logs
*.log

# Alembic
migrations/__pycache__/
migrations/versions/__pycache__/

# SQLite (caso use)
*.sqlite3

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# pyenv
.python-version

# Pycharm
.idea/

# pipenv
Pipfile.lock

# Docker
*.pid

# Other
instance/
